


  <head>
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    
  </head>
  <body class="text-center jumbotron container">
  <h1> Welcome to BookHub!</h1>
  <form action="/users/authenticate" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="1kXru2KnjDv03DklG9bdCmbqYh6l+IJSDQgIGZrfEP7n0wziyV3nv2zs+IFgm6m7fkjMyMpHUtaQi1Nm1M2ICA==" class="form-signin container">
  
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" name="user_name" id="user_name" class="form-control form-control-lg" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Password" required>
  
  
  <button class="btn btn-lg btn-primary btn-block" type="submit" name="commit">Sign in</button>
  <% @error["user_name"].each do |error_mes|%>
      <%= error_mes%>
    <% end %>
  <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</form>
</body>


<div>
<br>
  <h4> New Account? </h4>
  <a class='' href="/users/new"><button class="btn btn-md btn-primary" >Sign Up</button></a>
</div>
<p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
